<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration | E-File</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="./assets/css/mdb.min.css" rel="stylesheet">
    <style>
        img {
            height: 150px;
            width: auto;
        }

        .card-container {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            width: 40rem;
        }

        .popup-msg {
            position: absolute;
            bottom: 0;
            right: 10px;
            z-index: 10;
        }

        .login-btn {
            text-align: right;
            margin-top: 5px;
        }
    </style>
</head>

<body>
    <div class="alert popup-msg" role="alert">
        <span id="message"></span>
    </div>
    <div class="container">
        <form action="/login" method="post" enctype="multipart/form-data">
            <div class="card-container">
                <div class="mx-auto card p-2 p-lg-5">
                    <div class="card-body">
                        <div class="card-title row">
                            <div class="col-lg-4 mb-4">
                                <img src="./assets/img/upload.svg" />
                            </div>
                            <div class="col-lg-8 my-auto">
                                <h3>E-File</h3>
                                <h6>Akses dokumen digital anda tidak pernah semudah ini.</h6>
                            </div>
                        </div>
                        <div class="card-text">
                            <label for="username">Username</label>
                            <input type="text" id="username" class="form-control" name="username" required autofocus />
                            <label for="password">Password</label>
                            <input type="password" id="password" class="form-control" name="password" required />
                            <div class="login-btn">
                                <input class="btn btn-blue" type="submit" value="Login" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- JQuery -->
    <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="./assets/js/popper.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="./assets/js/mdb.min.js"></script>
    <script>
        $(document).ready(function () {
            const url = new URLSearchParams(location.search);
            if (url.get("show") != null) {
                $("#message").html(decodeURIComponent(url.get("message")));
                $(".popup-msg").addClass(`alert-${url.get("color")}`).fadeIn(300);
            }
            setTimeout(() => {
                $(".popup-msg").removeClass(`alert-${url.get("color")}`).fadeOut(500);
                $("#message").html("");
            }, 3000);
        });
    </script>
</body>

</html>